p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#whole-page {
    display: flex;
    flex-direction: row;
}

#whole-page #image {
    width: 80vw;
    height: 720px;
    overflow: hidden;
}

#whole-page #image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
